/*general*/
body {
  font-family: roboto;
}

h1,
h3,
h4,
h6 {
  margin:0;
  padding:0;
  overflow: hidden;
}

h2,
h5 {
  margin:0;
  padding:0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

a,
p,
div,
span {
  margin:0;
  padding:0;
}

/*hide will not work if it is here...maybe the "flex"
.hide {
  display: none;
}
*/
/*-end-general*/
/*map*/

.map-error {
  text-align: center;
  margin:0 auto;
  position:fixed;
  top:25vw;
  left:25vw;
}

.map-wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: calc(100% - 105px);
  box-shadow: 0 5px 5px #888;
}

.map-canvas {
  width: 100%;
  height: 100%;
}/*-end-map*/

/*Categories and search-box */
.search-filter {
  position: absolute;
  top:20px;
  left:20px;
  display:flex;
}

.btn-search-filter {
  position: absolute;
  top:10px;
  left:10px;
}

.btn-list {
  position: absolute;
  bottom:10px;
  left:10px;
}

.categories, .search-box {
  padding: 5px;
  background-color: #ddd;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #888;
  align-self:flex-start;
  flex:0 1 auto;
}

.search-box {
  margin-left: 5px;
  width: 50%;
}

.categories {
  width: 10rem;
}

/*strange it works only if after "flex"*/
.hide {
  display: none;
}

.search-image {
  margin-bottom: -10px;
}

.select-all {
  margin: 0;
  height: 25px;
}

.categories select{
  margin: 0;
  width:97%;
  cursor: pointer;
  font-size: 90%;
  appearance:none;
}
/*-end-Categories and search-box */

/*list*/
.list-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 100px;
  overflow: hidden;
  overflow-x:scroll;
}

.list {
  list-style: none;
  display: flex;
  margin:0 auto;
  padding:2px 5px 0 5px;
}

.list li {
  display: flex;
  justify-content: flex-start;
  flex:0 0 250px;
  margin: 0 auto;
  text-align: left;
}

.li-wrapper {
  width:calc(100% - 75px);
  overflow: hidden;
}

.list li:hover {
  background-color: #ccc;
}

.list li img {
  background: orange;
  border-radius: 10px;
}

.list li p {
  margin: 0 auto;
  font-size: 92.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.icon-list {
  width: 70px;
}

.icon-list div {
  margin:0;
  padding:0;
  position:relative;
  top: -5px;
  overflow: hidden;
  text-align: center;
} /*-end-list*/

/* Info window */
.info-window {
  overflow: hidden;
}

.img-wrapper, .info-wrapper {
  overflow: hidden;
  font-size: 1em;
}

.img-error {
  font-weight: bold;
  color:red;
}

.tip-wrapper {
  margin: 4px 0 4px 0;
  border-bottom: solid 1px #ddd;
}

.tip {
  padding: 10px 0 0 5px;
  font-size: 1em;
}

.tip-label {
  background-color: #000;
  color:white;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.address {
  padding-bottom: 5px;
}

.category {
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
}

.error-window {
  text-align: center;
  width: 40vw;
}

.error-window button{
  margin-top: 10px;
  padding:5px;
}

.error-message {
  font-weight: bold;
}
/*-end-info window*/

/*responsive*/
/*tablets*/
@media (max-width: 768px){

  .search-filter{
    font-size: 0.9em;
  }

  .map-wrapper {
    height: calc(100% - 100px);
  }

  .list-wrapper{
    overflow-y:scroll;
    font-size: 0.9em;
    height: 95px;
  }

  .list {
    display: block;
  }
}

/*mobile*/
@media (orientation:portrait) and (max-width: 400px), (orientation:landscape) and (max-width: 680px) {

  .search-filter {
    top:2px;
    left:2px;
    font-size: 0.75em;
  }

  .categories {
    width: 6rem;
  }

  .search-box {
     width: 60%;
  }

  .list-wrapper {
    font-size: 0.75em;
    height: 80px;
  }

  .map-wrapper {
    height: calc(100% - 85px);
  }

  .icon-list {
    width: 60px;
  }

  .icon-list img{
    width: 52px;
    height: 52px;
  }

}