body{
  font-family: roboto;
}
/*general*/
h1{
  padding-top: 120px;
  text-align: center;
}

h2{
  margin:0;
  padding:5px 0 5px 0;
}

h3{
  margin: 0;
  padding: 0 0 5px 0;
}

h4{
  margin:0;
  padding: 0 0 5px 5px;
  font-size: 105%;
  overflow:hidden;
}

h5{
  margin:0;
  padding:0 3px 0 5px;
  font-size: 75%;
}
/*map div*/
#map-canvas {
    width:100%;
    position:absolute;
    right:16px;
    top:5px;
    bottom:115px;
    overflow:hidden;
}

/*-end-map div*/
/*Categories and search-box */
.search-filter {
  position: absolute;
  top:20px;
  left:20px;
  display:flex;
}

.categories, .search-box{
  background-color: #ddd;
  border-radius: 3px;
  padding:5px;
  box-shadow: 5px 5px 3px #888888;
  align-self:flex-start;
}

.search-box{
  margin-left: 10px;
}

.search-box img{
  margin-bottom: -10px;
}

.categories p{
  margin: 0;
  padding: 5px 0 0 0;
}

.categories select{
  margin: 0;
  padding: 4px;
  cursor: pointer;
  font-size: 90%;
  appearance:none;
}
/*-end-Categories and search-box */

/*list*/
.list {
  list-style: none;
  position:absolute;
  bottom: 0;
  width: 95%;
  margin:0;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  overflow: hidden;
  overflow-x:scroll;
  box-shadow: inset 0 5px 3px #888888;
}

.list li{
  display: flex;
  justify-content: flex-start;
  flex:0 0 300px;
  text-align: left;
  margin:5px 0 0 0;
  padding:5px;
}

.list li div{
  width: 100%;
}
.list li:hover{
  background-color: #ccc;
}

.list li img {
  background: orange;
  border-radius: 10px;
}

.list li div p{
  margin:0;
  padding:0 0 0 5px;
  font-size: 75%;
}

/*-end-list*/
/* Info window */
.info-window {
  width: 300px;
  overflow: auto;
}

.info-window img{
  border-radius: 5px;
  width: 300px;
}


.tip {
  margin:0;
  padding: 10px 0 0 5px;
  font-size: 105%;

}
.tip-label{
  margin: 0;
  padding:5px;
  /*width:30px;
  height: 15px;*/
  background-color: #000;
  color:white;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.tip-wrapper{
  padding-bottom: 5px;
  border-bottom: solid 1px #ddd;
}

.address {
  margin:0;
  padding: 5px 0 5px 0;
}

.category {
  margin:0;
  padding-right: 5px;
  text-align: right;
  font-weight: bold;
}
/*-end-info window*/

/*responsive*/
@media screen and (max-width: 768px){
  #map-canvas {
    bottom:175px;
  }

  .categories select{
    font-size: 80%;
  }

  h2{
    font-size: 110%;
  }
  h3{
    font-size: 90%;
  }

  .categories label{
    font-size: 90%;
  }

  .list {
    height: 150px;
    display: block;
    overflow: auto;
    overflow-y:scroll;
  }

  .list li{
      width: 100%;
  }

  .info-window {
    width: 250px;
  }

  .info-window img{
    width: 175px;
  }
}